@font-face {
  font-family: "naruto";
  src: url("njnaruto.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.title {
  font-family: "naruto";
  font-size: 3rem;
  margin: 0px;
}

.subtitle {
  font-size: 1.25rem;
  margin: 0px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  height: 80%;
}

.cell {
  aspect-ratio: 1/1;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 8px;
  max-height: 15vh;
}

.cell:hover {
  background-color: #f0f0f0;
}

.selected {
  text-decoration: line-through;
  border: 1px solid #8c8c8c;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .board {
    width: 100%;
    height: 90%;
    gap: 0px;
  }

  .cell {
    font-size: 0.7rem;
    padding: 4px;
  }
}
